/venv/
/test/
/selenium_impl/Default/chrome_debug.log
/selenium_impl/chromedriver.exe
/selenium_impl/DevToolsActivePort
/selenium_impl/First Run
/selenium_impl/LICENSE.chromedriver
/selenium_impl/Local State
/selenium_impl/Crashpad/metadata
/selenium_impl/Default/Preferences
/selenium_impl/Crashpad/settings.dat
/.idea/shelf/Uncommitted_changes_before_Checkout_at_28_2_2023_5_32_μ_μ__[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_28_2_2023_5_32_μ_μ__[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_28_2_2023_5_32_____Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_28_2_2023_5_32_μ_μ__[Changes]/shelved.patch
